@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("/fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
  font-family: "Gilroy-Regular", sans-serif;
  box-sizing: border-box;
}

.myContainer {
  @apply container mx-auto;
}

.navContainer {
  @apply w-full max-w-[1050px] px-4 sm:px-6 lg:px-8 mx-auto;
}

.infoContainer {
  @apply w-full max-w-[1250px] px-4 sm:px-6 lg:px-8 mx-auto;
}

.breakthroughContainer {
  @apply w-full max-w-[1350px] px-4 sm:px-6 lg:px-8 mx-auto;
}

.whatContainer {
  @apply w-full max-w-[1150px] px-4 sm:px-6 lg:px-8 mx-auto;
}

.workContainer {
  @apply w-full max-w-[1500px] px-4 sm:px-6 lg:px-8 mx-auto;
}

.peopleContainer {
  @apply w-full max-w-[1250px] px-4 sm:px-6 lg:px-8 mx-auto;
}

.contactContainer {
  @apply w-full max-w-[1150px] px-4 sm:px-6 lg:px-8 mx-auto;
}

.transition3 {
  transition: all 0.3s ease-in-out;
}
